*
{
	padding:0px;
	margin:0px;
	text-decoration:none;
	font-family:Constantia;
}

body
{
	background-image: url(decorations/arriere-plan.png);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 span
{
	opacity: 0;
}

h1
{
	margin-top: 15px;
	margin-left: 15px;
	width: 250px;
	height: 48px;
}

h1 a
{
	display: inline-block;
	width: 250px;
	height: 48px;
	background-image: url(decorations/witchmod-logo.png);
}

h2
{
	margin: 10px 10px 10px 10px;
	color: #720404;
	font-style: italic;
}

h3
{
	margin-bottom: 15px;
	font-weight: bold;
	color: #720404;
}


h2, h3, #fil-d-ariane li, a
{
	font-family:Monotype Corsiva;
}

#menu
{
	font-size : 24px;
	border-bottom: 2px solid #c2c7d1;
}

#menu li
{
	display:inline-table;
}

#menu li a
{
	text-decoration : none;
	color : black;
	padding-left: 25px;
	margin-right: 25px;
}

#menu li a:hover
{
	border-bottom: 2px solid #720404;
}

#menu li a:focus, #menu li a.active
{
	border-bottom: 2px solid #720404;
}

#menu li:first-child
{
	margin-left:10px;
}

#menu .acceuil a 
{ 
	background:url(decorations/icone-acceuil.png) no-repeat; 
}

#menu .articles a
{
	background:url(decorations/icone-articles.png) no-repeat;
}

#menu .actualite a
{
	background:url(decorations/icone-actualite.png) no-repeat;
}

#menu .compte a
{
	background:url(decorations/icone-compte.png) no-repeat;
}

#menu .contact a
{
	background:url(decorations/icone-contact.png) no-repeat;
}

#menu .faq a
{
    background: url(decorations/icone-faq.png) no-repeat;
}

#contenu
{
	margin-left: 15px;
	margin-right: 15px;
}

#contenu a
{
	color: #720404;
}

#contenu p a:hover
{
	text-decoration: underline;    
}

#liste-mod
{
	margin-left: 15px;
	margin-right: 15px;
}

#description, #installation, #versions
{
	margin-top: 30px;
	margin-bottom: 30px;
}

#description span
{
	color:darkorange;
}

#versions
{
	color: green;
}

#fil-d-ariane
{
	list-style: none;
	padding: 10px 16px;
	font-size: 15px;
	color: #720404;
}

#fil-d-ariane li
{
	display: inline;
}

#fil-d-ariane li+li:before 
{
	padding: 8px;
	color: black;
	content: "|\00a0";
}

#fil-d-ariane li a
{
	text-decoration: none;
	color: #c2c7d1;
}

#fil-d-ariane li a:hover
{
	color: #720404;
}

#tableau
{
	margin-left: 10px;
	text-align:center;
}


#tableau th, #tableau td 
{
	padding: 15px;
	text-align: center;
}

#tableau th, #tableau td:first-child
{
	color:#720404;
}

#tableau table, #tableau th, #tableau td 
{
	border: 1px solid black;
	border-collapse: collapse;
}

.presentation
{
	margin-bottom: 30px;
}

.suivre
{
	text-align: center;
}

.suivre h3
{
	font-size: 40px;
}

.mod
{
    float: left;
	position: relative;
	width: 254px;
	margin-bottom: 20px;
	margin-left: 20px;  
}

.mod-apercu
{
	position: relative;
	height: 215px;
	width: 254px;
}

.mod-apercu img
{
	border: solid 2px black;
	position: absolute;
	width: 250px;
	height: 150px;
}

.mod-apercu h3
{
   top: 156px;
    position: absolute;
}

.mod-apercu a
{
	color: #720404;
}

.mod-apercu a:hover
{
	text-decoration: underline;
}

.mod-apercu p.description-page-article
{
    position: absolute;
    top: 180px;
    left: 0px;
}

.mod-apercu p.auteur
{
    
}

.mod-apercu a.bouton-developper
{
    position: absolute;
    right: 5px;
    top: 200px;
}

#formulaire-contact
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 14em;
}

#formulaire-compte
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 10em
}

#formulaire-compte label, #formulaire-mot-de-passe label
{
	display:block;
}

#formulaire-identification
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 10em;
}

#formulaire-mot-de-passe
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 10em
}

#formulaire-termes-d-utilisation
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 35em;
	text-align: center;
}
		
.nom-contact, #email, .sujet, .message, .envoyer
{
	margin-bottom: 3px;
}

.envoyer
{
	size: 50px;
	margin-left: 100px;
}

#erreur
{
	display:none;
	color: red;
	margin-left: auto;
	margin-right: auto;
	width: 14em;
}

.connection
{
	margin-top: 9px;
}

.connection a
{
	color: lightred;
}

.connection a:hover
{
	color: blue;
}

#genre input
{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}


#genre label.selecteur-genre
{
	display:inline-block;
	width:50px;
	height:50px;
	cursor:pointer;
	opacity:0.5;
}

#genre label.selecteur-genre span
{
	display:none;
}

#genre label#libelle-femme
{
	background-image:url(decorations/venus-symbole.png);
}
#genre label#libelle-homme
{
	background-image:url(decorations/mars-symbole.png);
}


#genre label.selecteur-genre:hover
{
	opacity:1;
}


#genre input:checked+label.selecteur-genre
{
	opacity:1;
}

#genre input:active+label.selecteur-genre
{
	opacity:1;
}

.suivant
{
	margin-top: 5px;
}

.identifient label, .prenom label, .nom label, .date-fete label
{
	display:block;
}

.boutons:not(.bouton-developper)
{
	margin-top: 5px;
}

#liens-sociaux a:hover
{
	text-decoration:underline;
}

.bouton-developper
{
    border-style:none;
    background:none;
    color:black;
    margin: 0 0 10px 0;
}

a.bouton-developper:hover
{
    color: #720404;
    text-decoration: none;
}

a.bouton-developper
{
    text-decoration: none;
    color: black;
}

.mod-detail
{
    height: 0px;
    display: none;
}

.personnages
{
    display: inline;
}

.personnages.active .image-personnage
{
    border-color: #720404;
    opacity: 1;
}

.image-personnage
{
    border: solid 4px black;
    border-radius: 25px;
    opacity: 0.7;
}

.image-personnage:hover 
{
    opacity: 1;
    border-color: #720404;
}

#liste-personnages
{
    position: relative;
    text-align: center;
}

#liste-personnages h2
{
    display: block;
    width: 125px;
}

#vignette-detail
{
    width: 400px;
    height: auto;
    background-color: #c2c7d1;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px black;
    border-radius: 35px;
    display: none;
    padding: 15px;
}

#vignette-detail *
{
    max-width: 400px;
    margin:0;
    display: inline-block;
}
#vignette-detail img
{
    border-radius: 25px;
}

#vignette-detail h3
{
    font-size: 24px;
}

#vignette-detail p
{   
    
}

#vignette-detail a
{
    
    width: 100%;
    text-align: right;
    color: black;
}

#vignette-detail a:hover
{
    text-decoration: underline;
    color: #720404;
}

.details-personnage, .nom-personnage, .information-supplementaire
{
    display: none;
}

#vignette-detail.active
{
    display: block;
}

#questions
{
    margin-left: 25px;
    margin-right: 25px;
}

#questions h3:hover
{
    cursor: pointer;
    background: rgba(104, 104, 104, 1);
}

#questions h3
{
    color: aliceblue;
    padding: 10px;
    margin: 0px;
    background: rgba(104, 104, 104, 0.7);
    border-radius: 5px;
    outline: none;
}

#questions h3:not(:first-child)
{
    margin-top: 1px;
}

#questions h3.ui-state-active
{
    background: rgba(104, 104, 104, 1);
    outline:none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#questions p
{
    background-color: white;
    padding: 20px;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#questions h3, #questions p
{
    border: solid 0.01em grey;
}